@import '~antd/dist/antd.css';
.oIndex{
    height:100%;
    min-height: 13rem;
    max-height: 20rem;
    padding-bottom: 15%;
    background: #e8e8e8;
}
.oIndex .nav{
    width: 100%;
    height: 1rem;
    position: fixed;
    top: 0;
    padding-top: 0.25rem;
    background: #00a2ed;
    z-index: 99;
    display: flex;
    justify-content: space-around;
}
.oIndex  .nav .nav_box{
     height: 0.6rem;
     line-height: 0.6rem;
     color:white;
     padding: 0 0 0 0.3rem;
    display: flex;
    width: 50%;
    justify-content: flex-start;
 }

.oIndex  .nav .nav_box  .icons-list .cons_menu{
    font-size: 0.3rem;
}
.oIndex  .nav .nav_box .index_tet{
    font-size: 0.34rem;
    margin-left: 0.4rem;
}
.oIndex  .nav  .box_rg{
    padding-right: 0.2rem;
    justify-content: flex-end;
}
.nav .nav_box  .icons-list .icons_bg{
    font-size: 0.45rem;
    margin-left: 0;

}
.oIndex  .nav .nav_box  .icons-list  .bg_let{
    margin-left: 0.3rem;
}
/*手风琴效果*/
.oIndex  .nav  .effect{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-height: 11rem;
    background: rgba(0,0,0,0.3);
}
.oIndex  .nav  .effect .ss_box{
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    max-height: 11rem;
    background: rgba(0,0,0,0.3);
}
.oIndex  .nav  .effect .effect_box{
    position: relative;
    min-height: 15rem;
    max-height: 100%;
    width: 85%;
    background: white;
}
/*顶部*/
.oIndex  .nav  .effect .effect_box .top_box{
    background: #00a2ed;
    height: 2.5rem;
    padding: 0.2rem 0.3rem 0;
}
/*头像*/
.oIndex  .nav  .effect .effect_box .top_box .oAvatar_box{
    height: 1rem;
    display: flex;
    line-height: 1rem;
}
.oIndex  .nav  .effect .effect_box .top_box .oAvatar_box .user_box,
.oIndex  .nav  .effect .effect_box .top_box .ment li  .box,
.oIndex  .nav  .effect .effect_box .effect_index .index .box  {
    width: 0.9rem;
    height: 0.9rem;
    text-align: center;
    margin-right: 0.2rem;
}
.oIndex  .nav  .effect .effect_box .top_box .oAvatar_box .user_box  .user{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    display: inline-block;
    background: silver;
}
/*用户名*/
.oIndex  .nav  .effect .effect_box .top_box   .oAvatar_box .user_name{
     font-size: 0.35rem;
     color: white;
     float: left;
}
/*我的收藏和离线下载*/
.oIndex  .nav  .effect .effect_box .top_box .ment{
    height: 1rem;
    display: flex;
    line-height: 1rem;
    justify-content: space-around;
    color: white;
    margin-top: 0.3rem;
}
.oIndex  .nav  .effect .effect_box .top_box .ment li,
.oIndex  .nav  .effect .effect_box .top_box .ment li a {
    display: flex;
    width: 100%;
    color: white;
    font-size: 0.3rem;
}
.oIndex  .nav  .effect .effect_box .top_box .ment li  .box span,
.oIndex  .nav  .effect .effect_box .top_box .ment li a .box span{
    font-size: 0.4rem;
}
.oIndex  .nav  .effect .effect_box .effect_index{
    width: 100%;
    height: 1rem;
    background: gainsboro;
}
.oIndex  .nav  .effect .effect_box .effect_index .index{
    padding: 0 0.3rem;
    line-height: 1rem;
    color:#00a2ed ;
    font-size: 0.32rem;
    display: flex;
}

.oIndex  .nav  .effect .effect_box .effect_index .index  .box   span{
    font-size: 0.4rem;
}
/*设置*/
.nav .oMode{
    width: 50%;
    height: 2rem;
    background: white;
}
/*————————————轮播图————————————————*/
.oIndex  .amap{
    position: relative;
    top: 1rem;
    height: 3.4rem;
    width: 100% !important;
}
.oIndex  .amap  div .oA{
    height: 3.4rem;
    display: block;
    position: relative;
}
.oIndex  .amap  div .oA .amap_h3{
    position: absolute;
    bottom:0.4rem;
    display: block;
    color: white;
    z-index: 3;
    font-size: 0.3rem;
    padding: 0 0.2rem 0 0.3rem;
}
.oIndex  .amap div .oA .omf_box{
    position: absolute;
    left: 0;
    top: 0;
}
.oIndex  .amap div .oA  .omf_box img{
    height: 3.4rem;
    width: 100%;
}
/*————————————新闻————————————*/

.oIndex  .news{
    position: relative;
    width: 100%;
    top:1rem;
}
.oIndex  .news .news_content{
    position: relative;
    padding: 0 0.2rem;
    background: #e8e8e8;
}
.oIndex  .news .news_content .content_top{
    height: 0.8rem;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
}
.oIndex  .news .news_content .content_top h2 i{
    margin-left: 0.2rem;
}
.oIndex  .news .news_content .content_top h2{
    color: #696969;
    font-size: 0.3rem;
}
.oIndex  .news .news_content .content_ul li  a {
    width: 100%;
    padding: 0.2rem 0.2rem;
    height:1.8rem ;
    background: white;
    border-radius: 0.15rem;
    color: black;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
}
.oIndex  .news .news_content .content_ul li a  .con{
    position: relative;
}
.news .news_content .content_ul li  a .con .con_img{
    display: inline-block;
    width: 1.6rem;
    height: 1.4rem;
}
.oIndex  .news .news_content .content_ul li  a  .li_p{
    padding-right: 0.2rem;
    font-size: 0.32rem;
    line-height: 1.5;
}
.oIndex  .news .news_content .content_ul li a  .con .con_span{
    width: 0.8rem;
    height: 0.4rem;
    background: rgba(0,0,0,0.7);
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 0.16rem;
    padding-top: 0.09rem;
    padding-left: 0.07rem;
}
.oIndex .news .news_content .content_ul li a .con .con_span p{
    float: right;
}